# Lecture 8-9, Nov 8, Section B
# Abdul Wassay 19B-080-SE

# 1. Add three number

In [4]:
def add(x,y,z):
        return (x+y+z)

In [5]:
x=eval(input("Enter the value of x: "))
y=eval(input("Enter the value of x: "))
z=eval(input("Enter the value of x: "))
add(x,y,z)

Enter the value of x: 2
Enter the value of x: 2
Enter the value of x: 2

6

# 2. F to C

In [9]:
def celsius(F):
    x=5/9*(F-32)
    return x

In [10]:
F=eval(input("Enter a temperature(in fahrenheit): "))
celsius(F)

Enter a temperature(in fahrenheit): 98

36.66666666666667

# 3. Introduction and Greetings

In [11]:
def name(x):
    print("Assalm u Alaikum",x)

In [12]:
x=input("Enter your name: ")
name(x)

Enter your name: Wassay
Assalm u Alaikum Wassay

# 4. List of numbers

In [28]:
def even_odd(numbers):
    for i in numbers:
        if i%2==0:
            print("Even")
        else:
            print("Odd")

In [29]:
numbers=[]
x=eval(input("Enter a number: "))
y=eval(input("Enter a number: "))
z=eval(input("Enter a number: "))
numbers.append(x)
numbers.append(y)
numbers.append(z)
even_odd(numbers)

Enter a number: 2
Enter a number: 3
Enter a number: 4
Even
Odd
Even

# 5. Swapping Values

In [34]:
x=input("Enter value of x: ")
y=input("Enter value of y: ")
z=x
x=y
y=z
print("The value of x after swapping is: {}".format(x))
print("The value of y after swapping is: {}".format(z))

Enter value of x: 2
Enter value of y: 1
The value of x after swapping: 1
The value of y after swapping: 2

# 6. Checking Vowels

In [41]:
def vowels(line):
    for a in line:
        if a in 'aeiouAEIOU':
            print(a)

In [43]:
line=input("Enter a line: ")
vowels(line)

Enter a line: My name is Abdul Wassay Sardar
a
e
i
A
u
a
a
a
a

# Analytical Questions:

# Q. 01

In [95]:
marks=eval(input("Enter your fsc marks: "))
if marks >= 880:
    print("A1 Grade")
elif (marks>=770 and marks<=879):
    print("A Grade")
elif (marks>=660 and marks<=769):
    print("B Grade")    
elif (marks>=550 and marks<=659):
    print("C Grade")
elif (marks>=440 and marks<=549):
    print("D Grade")
elif (marks>=330 and marks<=439):
    print("E Grade")
elif (marks>=220 and marks<=329):
    print("F Grade")
elif (marks<220):
    print("Fail")

Enter your fsc marks: 853
A Grade

# Q. 02

# Practice Problems (Book)

# Q.3.1

In [1]:
f=eval(input("Enter the temperature in Fahrenheit: ")) 
c=(f - 32) * 5 / 9
print("The temperature in Celsius is:",c,"C")

Enter the temperature in degrees Fahrenheit: 98.6
The temperature in degrees Celsius is 37.0 C

# Q.3.2

In [ ]:
#3.2(a)
if age>62:
    print("You can get your pension benefits!") 
#3.2(b)
if name in ['Musial','Aaron','Williams','Gehrig','Ruth']:
    print("One of the top 5 baseball players, ever!")
#3.2(c)
if hits>10 and shield==0:
    print("You are dead ...")
#3.2(d)    
if north or south or east or west:
    print("I can escape.")

# Q.3.3

In [ ]:
#3.2(a)
if year%4==0:
    print("Could  be a leap year.")
else:
    print("Definitely not a leap year.")
#3.2(b)
if list==lottery:
    print("You Won!")
else:
    print("Better luck nnext time...")

# Q.3.4

In [10]:
a=('Joe','Sue','Hani','Sophie','Wassay')
x=input("Enter your login id: ")
if x in a:
    print("You are in!")
else:
    print("User unknown")
print("Done")

Enter your login id: Wassay
You are in!
Done

# Q.3.5

In [2]:
words_list=[]
for i in range(0, 5):
    a=input('Please enter a word: ') 
    words_list.append(a)
for word in words_list:   
    print(word)

Please enter a word: Sky
Please enter a word: Stop
Please enter a word: Play
Please enter a word: Good
Please enter a word: Bye
Sky
Stop
Play
Good
Bye

# Q.3.6

In [7]:
#3.6(a)
for x in range(0,10):
    print(x)
#3.6(b)
for y in range(0,2):
    print(y)

0
1
2
3
4
5
6
7
8
9
0
1

# Q.3.7

In [12]:
#3.7(a)
for a in range(3,13):
    print(a)

3
4
5
6
7
8
9
10
11
12

In [14]:
#3.7(b)
for b in range(0,9,2):
    print(b)

0
2
4
6
8

In [15]:
#3.7(c)
for c in range(0,24,3):
    print(c)

0
3
6
9
12
15
18
21

In [16]:
#3.7(d)
for d in range(0,12,5):
    print(d)

0
5
10

# Exercises (Book)

# Q.3.17

In [25]:
#3.17(a)
a=eval('2 * 3 + 1')
print(a)

7

In [26]:
#3.17(b)
b=eval('hello')
print(b)
#This contains error  because eval function evaluates 
#the string expression and returns the integer as result.

NameError: name 'hello' is not defined

In [32]:
#3.17(c)
c=eval("'Hello'+' '+'world!'")
print(c)

Hello world!

In [33]:
# 3.17(d)
d=eval("'ASCII'.count('I')")
print(d)

2

In [4]:
#3.17(e)
e=eval('x = 5')
print(e)

SyntaxError: invalid syntax (<string>, line 1)

# Q.3.18

In [38]:
a, b, c = 3, 4, 5
#3.18(a)
if a<b:
    print("OK")
elif c<b:
    print("OK")
elif a+b==c:
    print("Ok")
elif (a**2)+(b**2)==(c**2):
    print("OK")

OK

# Q.3.19

In [43]:
a, b, c = 3, 4, 5
#3.18(a)
if a<b:
    print("OK")
else:
    print("Not OK")
if c<b:
    print("OK")
else:
    print("Not OK")
if a+b==c:
    print("Ok")
else:
    print("Not OK")
if (a**2)+(b**2)==(c**2):
    print("OK")
else:
    print("Not OK")

OK
Not OK
Not OK
OK

# Q.3.20

In [51]:
months=['January','February','March']
for a in months:
    print(a[0],a[1],a[2])

J a n
F e b
M a r

# Q.3.21

In [52]:
lst=[2,3,4,5,6,7,8,9]
for x in lst:
    if x%2==0:
        print(x)

2
4
6
8

# Q.3.22

In [53]:
lst=[2,3,4,5,6,7,8,9]
for y in lst:
    if (y**2)%8==0:
        print(y)

4
8

# Q.3.23

In [55]:
for a in range(0,2):
    print(a)

0
1

In [56]:
for b in range(0,1):
    print(b)

0

In [58]:
for c in range(3,7):
    print(c)

3
4
5
6

In [59]:
for d in range(1,2):
    print(d)

1

In [63]:
for e in range(0,4,3):
    print(e)

0
3

In [66]:
for  f in range(5,22,4):
    print(f)

5
9
13
17
21

# Q.3.24

SyntaxError: invalid syntax (<ipython-input-70-87800278c816>, line 6)

# Q.3.25

# Q.3.26

In [2]:
a=[]
for x in range(0,4):
    num=input("Enter a number: ")
    a.append(num)
print('The first element is:',a[0])
print('The last element is:',a[3])

Enter a number: 3
Enter a number: 5
Enter a number: 7
Enter a number: 9
The first element is: 3
The last element is: 9